:root {
  --color-b: #028fde;
  --color-text: #3D3D3D;
}

.body-filter *,
.body-filter *::before,
.body-filter *::after {
  box-sizing: border-box;
}
.body-filter .container {
  max-width: 1160px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.body-filter .tabs__list {
  display: -webkit-box;
  display: flex;
}
.body-filter .tabs__item {
  cursor: pointer;
  padding: 12px 17px 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-b);
  border-radius: 0px 6px 0px 0px;
  transition: 0.3s ease-in;
}
.body-filter .tabs__item.tabs__item--active {
  background: #fff;
  border: 1px solid var(--color-b);
  border-bottom: 1px solid transparent;
  position: relative;
}
.body-filter [data-tab="1"] {
  border-radius: 6px 0px 0px 0px;
  background: linear-gradient(289.37deg, rgba(0, 102, 159, 0.2) 9.45%, rgba(0, 102, 159, 0) 31.92%), #e4f3fc;
}
.body-filter [data-tab="2"] {
  border-radius: 0px 6px 0px 0px;
  background: linear-gradient(75.01deg, rgba(0, 102, 159, 0.2) 2.52%, rgba(0, 102, 159, 0) 36.35%), #e4f3fc;
}
.body-filter .tabs__item.tabs__item--active::before {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}
.body-filter .tabs__content {
  display: none;
}
.body-filter .tabs__content.tabs__content--active {
  display: block;
  border: 1px solid var(--color-b);
  border-radius: 0px 6px 6px 6px;
}
.body-filter .filter {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-text);
}
.body-filter .filter__container {
  display: grid;
  grid-template-columns: minmax(auto, 305px) minmax(auto, 315px) minmax(auto, 263px) minmax(auto, 0px) minmax(auto, 245px);
}
.body-filter .filter-item {
  position: relative;
  padding: 12px 20px 11px 11px;
}
.body-filter .filter-item::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 30px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: var(--color-b);
}
.body-filter .filter-item:nth-child(4) {
  overflow: hidden;
  padding: 0;
}
.body-filter .filter-item:nth-child(3)::before {
  position: absolute;
  content: '';
  display: none;
}
.body-filter .filter-item__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  overflow: hidden;
}
.body-filter .filter-item__icon {
  margin-right: 15px;
}
.body-filter .filter-item__content {
  width: 100%;
  cursor: pointer;
}
.body-filter .filter-item__name {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.5;
}
.body-filter .filter-item__field {
  display: block;
  width: 100%;
  position: relative;
  white-space: nowrap;
}
.body-filter .filter-item__field::before {
  position: absolute;
  content: '';
  background-image: url("./../img/icons/check_doun_grey.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 10px;
  top: 50%;
  right: 0;
}
.body-filter .filter-item__field-input {
  width: 100%;
  background: #fff;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-text);
  outline: none;
}
.body-filter .filter-item__field-input:focus {
  outline: none;
}
.body-filter .filter-item__field-input::-webkit-input-placeholder {
  color: var(--color-text);
}
.body-filter .filter-item__field-input:-ms-input-placeholder {
  color: var(--color-text);
}
.body-filter .filter-item__field-input::-ms-input-placeholder {
  color: var(--color-text);
}
.body-filter .filter-item__field-input::placeholder {
  color: var(--color-text);
}
.body-filter .filter__button {
  cursor: pointer;
  background: var(--color-b);
  padding: 17px 13px;
  font-weight: 800;
  color: #FFFFFF;
}
.body-filter .filter__button .filter-item__name {
  opacity: 1;
}
.body-filter .filter-list {
  position: absolute;
  width: 614px;
  height: 450px;
  background: #FFFFFF;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  top: 70px;
  left: -10px;
  z-index: 1;
}
.body-filter .filter-list__inner {
  padding: 14px 10px 20px 20px;
}
.body-filter .filter-list__search {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
.body-filter .filter-list__search::before {
  position: absolute;
  content: '';
  background-image: url("./../img/glass_grey.svg");
  background-repeat: no-repeat;
  background-size: auto;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.body-filter .filter-itme__search-field {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #028FDE;
  border-radius: 6px;
  padding: 10px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3D3D3D;
}
.body-filter .filter-list__inner-list {
  height: 350px;
  overflow-y: auto;
}
.body-filter .filter__container--search {
  grid-template-columns: 1fr minmax(auto, 245px);
}
.body-filter .filter__search-field {
  width: 100%;
  padding: 20px 20px;
  background: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3D3D3D;
  border: none;
  border-radius: 0px 0px 0px 6px;
  outline: none;
}
.body-filter .filter__search-field:focus {
  outline: none;
}
.body-filter .filter__search-field::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #9C9C9E;
}
.body-filter .filter__search-field:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #9C9C9E;
}
.body-filter .filter__search-field::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #9C9C9E;
}
.body-filter .filter__search-field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #9C9C9E;
}

/*# sourceMappingURL=style.css.map */