:root {
    --color-b: #028fde;
    --color-text: #3D3D3D;
    --color-active: #FF9900;
}
.body-filter {
    // padding-bottom: 100px;
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    .container {
        max-width: 1160px;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .tabs {
    }
    .tabs__list {
        display: flex;
    }
    .tabs__item {
        cursor: pointer;
        padding: 12px 17px 9px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.2;
        color: var(--color-b);
        border-radius: 0px 6px 0px 0px;
        transition: 0.3s ease-in;
    }
    .tabs__item.tabs__item--active {
        background: #fff;
        border: 1px solid var(--color-b);
        border-bottom: 1px solid transparent;
        position: relative;
    }
    [data-tab="1"] {
        border-radius: 6px 0px 0px 0px;
        background: linear-gradient(
                289.37deg,
                rgba(0, 102, 159, 0.2) 9.45%,
                rgba(0, 102, 159, 0) 31.92%
            ),
            #e4f3fc;
    }
    [data-tab="2"] {
        border-radius: 0px 6px 0px 0px;
        background: linear-gradient(
                75.01deg,
                rgba(0, 102, 159, 0.2) 2.52%,
                rgba(0, 102, 159, 0) 36.35%
            ),
            #e4f3fc;
    }
    .tabs__item.tabs__item--active::before {
        position: absolute;
        content: "";
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #dddddd;
    }
    .tabs__content {
        display: none;
    }
    .tabs__content.tabs__content--active {
        display: block;
        border: 1px solid var(--color-b);
        border-radius: 0px 6px 6px 6px;
    }



    // ======================================================================
    .filter {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: var(--color-text);
    }
    .filter__container {
        display: grid;
        grid-template-columns:  minmax(auto, 305px) minmax(auto, 315px) minmax(auto, 263px) minmax(auto, 0px) minmax(auto, 245px);
    }
    .filter-item {
        position: relative;
        padding: 12px 20px 11px 9px;
        
        &::before {
            position: absolute;
            content: '';
            width: 1px;
            height: 30px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: var(--color-b);
        }
        &:nth-child(4){
            overflow: hidden;
            padding: 0;
        }
        &:nth-child(3){
            &::before {
                position: absolute;
                content: '';
                display: none;
                
            }
        }
    }
    .filter-item__row {
        // position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        
        
    }
    .filter-item__icon {
        margin-right: 10px;
        flex-shrink: 0;
    }
    .filter-item__content {
        width: 100%;
        cursor: pointer;
       
    }
    .filter-item__name {
        
        font-size: 14px;
        line-height: 17px;
        opacity: 0.5;
       
    }
    .filter-item__field {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: var(--color-text);
        width: 100%;
        position: relative;
        white-space: nowrap;
        cursor: pointer;
        border: none;
        &::placeholder {
            color: var(--color-text);
        }
        &::before {
            position: absolute;
            content: '';
            background-image: url('./../img/icons/check_doun_grey.svg');
            background-repeat: no-repeat;                      
            width: 13px;
            height: 10px;
            top: 50%;
            right: 0;
        }
       
    }
    .filter-item__field-input {
        width: 100%;
        background: #fff;
        border: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: var(--color-text);
        outline: none;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: var(--color-text);
        }
    }
    .filter__button {
        cursor: pointer;
        background: var(--color-b);
        padding: 17px 13px;
        font-weight: 800;       
        color: #FFFFFF;   
        border: none;     
        .filter-item__name {
            opacity: 1;
        }
    }
   
   
    .filter-item__list {

    }
    .filter-list {
        display: none;
        position: absolute;
        width: 614px;
        // height: 450px;
        background: #FFFFFF;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.08);
        border-radius: 6px;       
        top: 65px;
        left: 0px;
        z-index: 1;
        &.filter-list--active {
            display: block;
        }
    }
    .filter-list__inner {
        padding: 14px 11px 0px 3px;
    }
    .filter-list__search {
        position: relative;
        width: 100%;
        display: block;
        margin-bottom: 15px;
        &::before {
            position: absolute;
            content: '';
            background-image: url('./../img/glass_grey.svg');
            background-repeat: no-repeat;            
            background-size: auto;
            width: 20px;
            height: 20px;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            
        }
    }
    .filter-itme__search-field {
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #028FDE;
        border-radius: 6px;
        padding: 7px 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #3D3D3D;
        &::placeholder {
            opacity: 0.5;
        }
    }
    
    .filter-list__inner-list {
        height: 316px;
        overflow-y: auto;
        margin-bottom: 20px;
    }
    .filter-list__row {        
        font-size: 16px;
        line-height: 19px;        
        color: #3D3D3D;
        margin-bottom: 18px;
    }
    .filter-list__name {
        font-weight: 700;
        margin-bottom: 7px;
        padding-left: 14px;
        
        
    }
    .filter-list__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .filter-list__item {
        font-weight: 400;
        position: relative;
        cursor: pointer;
        transition: 0.3s ease-in;
        padding: 4px 14px 4px 14px;
        border-radius: 15px;
        transition: 0.3s ease-in;
        &:hover {
            background: #ECECEC;
            
        };
        &.filter-list__item--ative {
            background: #ECECEC;
            &::before {
                position: absolute;
                content: '';
                background-image: url('./../img/icon_check_blue.svg');
                background-repeat: no-repeat;                
                background-size: auto;
                width: 18px;height: 18px;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                transition:  0.3s ease-in;
            }
        }
    }

    .filter-list__footer {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid rgba(61, 61, 61, .2);
        min-height: 52px;
        padding: 14px 20px 20px;
    }
    .filter-list__item-choice {
        position: relative;
        margin-right: 20px;
        max-width: max-content;
        padding-right: 25px;
    }
    .filter-list__item-choice--icon {
        &::before {
            position: absolute;
            content: '';
            background-image: url('./../img/close_blue.svg');
            background-repeat: no-repeat;            
            background-size: auto;
            width: 13px;
            height: 13px;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }

    
    .filter__container--search {
        grid-template-columns: 1fr minmax(auto, 245px);
    }
    .filter__holder-input {
    }
    .filter__search-field {
        width: 100%;
        padding: 20px 20px;
        background: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #3D3D3D;
        
        border: none;
        border-radius: 0px 0px 0px 6px;        
        outline: none;
        &:focus {
            outline: none;
        }
        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #9C9C9E;
        }
    }



    .list-scrollbar  {  
        overflow-y: auto;
        scrollbar-color: var(--color-b) rgba(61, 61, 61, .2);
        scrollbar-width: thin; 
    }
    .list-scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 5px;
        background-color: rgba(61, 61, 61, .2);  
    }
    .list-scrollbar::-webkit-scrollbar-track {
        background-color: rgba(61, 61, 61, .2);
        border-radius: 4px;
    }
    .list-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: var(--color-b);
    }
}


.box {
    display: flex;
}
.filter-item-calender {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-active);
    // flex-shrink: 1;
    // background-color: antiquewhite;
    // max-width: 85px;
    // border: none;
    &::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: var(--color-text);
    }
}

.air-datepicker.-inline-  {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    border: none;
}
.air-datepicker-nav--title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    i {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
    }
}